<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add role</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Thêm vai trò mới</h1>
                <form th:action="@{/roles/create}" th:object="${role}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="roleName">Tên vai trò:</label>
                        <input type="text" id="roleName" th:field="*{roleName}" class="form-control" required/>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Thêm</button>
                </form>
            </div>
        </div>
    </div>
    </form>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
