<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit discount</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="container mt-5 flex-grow-1">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-4">Chỉnh sửa mã giảm giá</h1>
                    <form th:action="@{/discounts/edit/{id}(id=${discount.id})}" th:object="${discount}" method="post">
                        <div class="form-group">
                            <label for="discountCode">Mã giảm giá:</label>
                            <input type="text" id="discountCode" th:field="*{discountCode}" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>
