body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    padding: 60px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
    height: 100vh; /* Full height background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
