<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
        <!-- Footer -->
        <footer>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                <p>© 2024 Learning materials management</p>
<!--                <a href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
            </div>
        </footer>
    </body>
</html>
